{% extends "jobs/base.html" %} {% load static %} 
{% block content%}
<link rel="stylesheet" href="{% static 'css/user-profile-style.css' %}">

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>
                        {{object.first_name}} {{object.last_name}}  Profile
                    </h3>
                </div>
            </div>
        </div>
    </div>
  </div>


<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="apply_job_form white-bg">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3  pt-2 pb-5">
                                <img class="rounded-circle" width="150px" src="{{ object.profile.image.thumbnail.url}}" /><span
                                    class="font-weight-bold text-capitalize mt-2">{{ object.first_name }} {{ object.last_name}}</span><span class="text-black-50">{{ profile.user.email }}</span><span> </span>
                            </div>
                            <div class="">
                                <h3>Bio</h3>
                                <p>{{object.profile.bio}}</p>
                            </div>
                        </div>
                        <div class="col-md-5 border-right">
                            <div class="p-3  pt-2 pb-5">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <h4 class="text-right">Profile</h4>
                                </div>
                                <div class="row mt-3">
                                    {% if object.profile.phone_number %}
                                        <div class="col-md-12 mb-3">
                                            <label class="labels">Mobile Number</label><input type="text" class="form-control"
                                                placeholder="enter phone number" value="{{object.profile.phone_number}}" disabled />
                                        </div>
                                    {%endif%}
                                    
                                    {% if object.profile.country %}
                                        <div class="col-md-12 mb-3">
                                            <label class="labels">country</label>
                                            <p>
                                                <img width="30" src="{{object.profile.country.flag}}">
                                                {{object.profile.country.name}}
                                            </p>
                                        </div>
                                    {% endif %}
                                    
                                    {% if object.profile.website %}
                                        <div class="col-md-12 mb-3">
                                            <label class="labels">Website</label>
                                            <p>
                                                {% if object.profile.website|length <= 40 %}
                                                    <a class='badge-light text-info' href="{{object.profile.website}}">
                                                        {{object.profile.website}}
                                                    </a>
                                                {% else %}
                                                <a class='badge-light text-info' href="{{object.profile.website}}">
                                                    {{object.profile.website|slice:"40"}}....
                                                </a>
                                                {% endif %}
                                            </p>
                                            
                                        </div>
                                    {% endif %}
                                    
                                    {% if object.profile.birth_day %}
                                        <div class="col-md-12 mb-3">
                                            <label class="labels">Birthday</label>
                                            <input type="text" class="form-control"
                                                placeholder="enter address line 2" value="{{object.profile.birth_day}}" disabled />
                                        </div>
                                    {% endif %}
                                    
                                    {% if object.profile.cv_file %}
                                        <div class="col-md-12 mb-3">
                                            <label class="labels">CV FILE</label>
                                               <p>
                                                    <a class='badge-light text-info' href="{{profile.cv_file.url}}">
                                                        Download 
                                                    </a>
                                               </p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="p-3  pt-2 pb-5">
                                <div class="d-flex justify-content-between align-items-center mb-1">
                                    <h4>Experience</h4>       
                                </div>
                                <br />
                                {% for experience in object.experiences.all %}
                                    <p>
                                        <span class="mr-1" >{{experience.skill}}</span>
                    
                                        {% if experience.start_at %}
                                            <i title="Start At: {{experience.start_at}}" class="fa fa-clock-o" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if experience.description %}
                                            <i title="Post At: {{experience.created_at|date:"Y-m-d H:i"}}" class="fa fa-info-circle" aria-hidden="true"></i>
                                        {% endif %}
                                    </p>

                                    <div class="progress" style="height: 20px;">
                                        <div class="progress-bar" role="progressbar" style="width: {{experience.level}}%;" aria-valuenow="{{experience.level}}" aria-valuemin="0" aria-valuemax="100">{{experience.level}}%</div>
                                    </div>
                                    <small>{{experience.description}}</small>

                                    <hr>
                                {% endfor %}
                               
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>


{% endblock %}