{% extends "jobs/base.html" %}

{% block content %}
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text">
                  <h3>
                    Password change successful
                  </h3>
              </div>
          </div>
      </div>
  </div>
</div>
  
  <div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="apply_job_form white-bg">
                  <p>Your password was changed.</p>
                </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
