{% extends "jobs/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Applied Jobs</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                {% for applied in object_list %}
                <div class="col-md-4">
                    <div class="card mt-1" style="width: 18rem;">
                        <img class="card-img-top p-2" src="{% static 'img/svg_icon/1.svg'%}" height="210" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{applied.job.title}}</h5>
                          <p class="card-text">Job Type:  <span class="text-info" >{{applied.job.job_type}}</span></p>
                          <p class="card-text">Appled At: <span class="text-info" >{{applied.created_at|date:"Y-m-d"}}</span></p>
                          <a class="btn btn-info" href="{% url 'jobs:job_details' applied.job.slug %}" class="btn btn-primary">Show</a>
                        </div>
                      </div>
                </div>
                {% empty %}
                    <h1 class="text-center text-info">Not Found Any Job You Apply It</h1>
                {% endfor %}

                
            </div>
            {% if page_obj.has_other_pages %}
                    
            <div class="pagination_wrap">
                <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}"> <i class="ti-angle-left"></i> </a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}"><span>{{ i }}</span></a></li>
                    {% endif %}
                {% endfor %}
                    
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}"> <i class="ti-angle-right"></i> </a></li>
                {% endif %}
                    
                </ul>
            </div>
                 
        {% endif %}

        {% if users.has_other_pages %}
            <ul class="pagination">
                {% if users.has_previous %}
                <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in users.paginator.page_range %}
                {% if users.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if users.has_next %}
                <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endblock content %}
