{% extends "jobs/base.html" %}
{% load bleach_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{job.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                                </div>
                                <div class="jobs_conetent text-capitalize">
                                    <a href="#"><h4>{{job.title}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> <img width="20" src="{{job.country.flag}} " alt="{{job.country.name}}" title="{{job.country.name}}" ></p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i>{{job.job_type}}</p>
                                        </div>
                                        <div class="location">
                                            <p>  <i class="fa fa-tags" aria-hidden="true"></i> {{job.category}}</p>
                                        </div>
                                    </div>
                                    {% if user == job.user %}
                                        <div class="options mt-2">
                                            <a style="background-color:yellow" class="btn" href="{% url 'jobs:job_update' job.slug %}" class="btn btn-primary">Edit</a>
                                            <a class="btn btn-danger" href="{% url 'jobs:job_delete' job.slug %}" class="btn btn-primary">Delete</a>
                                            <a class="btn btn-success" href="{% url 'jobs:applicants_users' job.slug %}" class="btn btn-primary">Applicants Users ({{job.apply_users.all.count}})</a>
                                            <a class="btn btn-secondary" href="{% url 'jobs:applicants_non_users' job.slug %}" class="btn btn-primary">Applicants Non Users ({{job.apply_not_users.all.count}})</a>
                                        </div>
                                    {% endif %}
                                
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="descript_wrap white-bg ">
                        <div class="single_wrap">
                            <h4>Job Description</h4>
                            <p>{{job.description|bleach}}</p>
                        </div>
                    </div>
                    {% if request.user != job.user %}
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form method='POST' enctype="multipart/form-data" >
                            {% csrf_token %}
                            {% if not user.is_authenticated  %}
                                {{form|crispy}}
                                <button class="boxed-btn3 w-100" type="submit">Apply Now</button>

                            {% else %}
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        {% if user_apply %}
                                            <input type="hidden" name="apply" value="unapply">
                                            <button onclick=Unapply.submit() class="boxed-btn4 w-100">Unapply</button>
                                        {% else %}
                                            <input type="hidden" name="apply" value="apply">
                                            <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                        </form>
                    </div>
                    {% endif %}
                 
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Job Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li class="text-success text-capitalize">Publisher:  <a class="text-info" href="{% url 'accounts:profile_username' job.user.username %}">{{job.user.first_name}} {{job.user.last_name}}</a></li>
                                <li>Published on: <span>{{job.published_at|date:"d M , o"}}</span></li>
                                <li>Vacancy: <span>{{job.vacancy}} Position</span></li>
                                <li>Salary: <span>{{job.salary}} $/M</span></li>
                                <li>Location: <span><img width="18" src="{{job.country.flag}} " alt="{{job.country.name}}" title="{{job.country.name}}"> </span></li>
                                <li>Job Nature: <span>{{job.job_type}}</span></li>
                                <li>Experience: <span>{{job.experience}} Year</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
